*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-color: white;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.8);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  align-self: end;
  color: var(--primary-color, #777);
}

.App {
  padding: 1em;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.wrapper {
  min-width: fit-content;
}

.two-column {
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 33%;
  grid-gap: 33%;
}

.centred {
  display: flex;
  flex-direction: column;
  place-items: center;
}